# general
*~
*.log
tmp
dump
logs
*.iml
target
.idea
.idea_modules
RUNNING_PID
generated.keystore
generated.truststore
*.log

# SBT
dist
project/boot
project/target
project/plugins/target
target/*
.target