@import helper._

@(devices: List[Device], deviceForm: Form[Device])

@main("Devices page") {
    <h1>Liste des équipements</h1>

    @for(device <- devices){
        <ul>
            <li><a href="/devices/@device.getId()">@device.getName()</a></li>
        </ul>
    }

    <h1>Ajouter un Equipement</h1>


    @helper.form(action = routes.DeviceController.submit()) {
        @CSRF.formField

    	<p>
            <input type="text" name="name" placeholder="device name">
        </p>
        <p>
            <input type="text" name="ipAddress" placeholder="ip address">
        </p>
        <p>
            <button type="submit">Ajouter</button>
        </p>
	}

    <br><br>

    <a href="/">Home</a>
}
