@(devices: List[Device], deviceForm: Form[Device])

@main("Devices page") {
    <h1>Liste des équipements</h1>

    @for(device <- devices){
        <ul>
            <li><a href="/devices/@device.getId()">@device.getName()</a></li>
        </ul>
    }

    <h1>Ajouter un Equipement</h1>


    @helper.form(action = routes.DeviceController.submit()) {

    	@helper.inputText(deviceForm("name"))

    	@helper.inputText(deviceForm("ip"))

        <input type="submit" value="Submit">
	}

    <br><br>

    <a href="/">Home</a>
}
