@(port: Port, device: String)

@main("Port page") {
    <h2>Détail du port</h2>
    <h4>Equipement: @device</h4>
    <h4>Port: @port.getName()</h4>

    <ul>
        @defining("/assets/images/" + device + "/" + port.getName() + "/" + port.getName()) { portPath =>
            @defining(portPath + "-daily.png") { dailyPath =>
                <li>Graph journalier</li>
                <img src=@dailyPath alt="Daily graph" height="255" width="558" >
            }
            <br>
            @defining(portPath + "-weekly.png") { weeklyPath =>
                <li>Graph de la semaine</li>
                <img src=@weeklyPath alt="Weekly graph" height="255" width="558" >
            }
            <br>
            @defining(portPath + "-monthly.png") { monthlyPath =>
                <li>Graph du mois</li>
                <img src=@monthlyPath alt="Monthly graph" height="255" width="558" >
            }
            <br>
            @defining(portPath + "-annual.png") { annualPath =>
                <li>Graph annuel</li>
                <img src=@annualPath alt="Annual graph" height="255" width="558" >
            }
        }
    </ul>

    <a href="/">Home</a>
}
